{{#each blogs}}
{{log title}}
<section class="container">
<div class="divOne">
  <h1 class="title">{{title}}</h1>
  <h1 class="image">{{comment}}</h1>
  <h1 class="image">{{author}}</h1>
</div>
</section>
{{/each}}